.saveBtn{
    font-family: PingFangSC-Medium;
  font-size: 34px;
 margin: 0 auto;
  width: 368px;
  height: 100px;
  line-height: 100px;
  background-image: linear-gradient(-136deg, #448AFF 0%, #509DFF 100%);
  border-radius: 100px;
  text-align: center;
  color: #FFFFFF;
}